# Runtime files
app.log
Backend/injections.json
Backend/stripe_cache.json

# Secrets
.env
.env*

# IDE
.idea

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/dist-ssr/
Frontend/*.local

# Backend
Backend/.env
Backend/.env*
Backend/log/*.log
Backend/tmp/pids/*
Backend/.bundle
